/* Create your test CSS here */

body {
  background-color: pink;
}

@media(min-width: 300em) {
  body {
    background-color: blue;
  }
}

.catsandstars {
  padding: 10px 15px 15px 5px;
  background: red url("https://mdn.mozillademos.org/files/6457/mdn_logo_only_color.png") 10px 10px repeat-x fixed;
}


/* 
h1 {
  color: blue;
  background-color: yellow;
  width: 75%;
  border: thick dotted black;
}


p {
  color: red;
  font-size: larger;
}

.outer {
  border: 5px solid black;
}

.box {
  margin: 30px;
  width: 100px;
  height: 100px;
  background-color: rebeccapurple;
  transform: scale(0.5) translate(-100%, -100%);
}

.center {
  background-image: linear-gradient(to bottom, rgba(255, 255, 0, 0.5), rgba(0, 0, 255, 0.5)), url('https://mdn.mozillademos.org/files/7693/catfront.png');
}

p {
  font-size: 1.5em;
  color: #fe7f88;
  background-image: none;
  background-color: transparent;
}

div {
  background-image: url("https://mdn.mozillademos.org/files/6457/mdn_logo_only_color.png");
}

.catsandstars {
  background-image: url("https://mdn.mozillademos.org/files/11991/startransparent.gif"), url("https://mdn.mozillademos.org/files/7693/catfront.png");
  background-color: transparent;
} */


/* 
.box {
  padding: 10px;
  width: calc(90% - 300px);
  background-color: rebeccapurple;
  color: white;
} */


/* 
h1 {
  font-size: 2em;
}

a:link {
  color: pink;
}

.manythings {
  background-color: silver;
}

#onething {
  background-color: skyblue;
}

* {
  font-size: 20px;
}

.box p {
  color: black;
}

.box p:first-child {
  font-style: oblique;
}

h1,
h2,
.intro {
  background-color: coral;
} */


/* p {
  color: red;
} */


/* .special {
  color: red;
}

.special {
  color: blue;
} */


/* 
p {
  color: blue;
} */