<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title></title>
		<script src="../../js/vue.js" type="text/javascript" charset="utf-8"></script>
	</head>
	<body>
		<div id="app">
			<p>{{this.$root.foo}}</p>
			<p>{{this.$root.bar}}</p>
			<p>{{this.$root.baz()}}</p>
		</div>

		<script type="text/javascript">
			new Vue({
				el: '#app',
				data: {
					foo: 1
				},
				computed: {
					bar: function() {return 100;}
				},
				methods: {
					baz: function() { return 10; }
				}
			})
		</script>
	</body>
</html>
